@import '~bulma/sass/utilities/_all';
@import './variables';

$family-sans-serif: 'Heebo', 'Yanone-Kaffeesatz', sans-serif;
$family-primary: 'Heebo', 'Yanone-Kaffeesatz', sans-serif;
$family-secondary: 'Yanone-Kaffeesatz', sans-serif;

$colors: (
  'orange': (
    $orange,
    $orange-invert
  ),
  'yellow': (
    $yellow,
    $yellow-invert
  ),
  'info': (
    $info,
    $info-invert
  )
);
$navbar-item-img-max-height: 3.75rem;
$link: $grey-dark;
@import '~bulma';
